@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700;700&display=swap");

:root {
  --primary-color: #2095ae;
  --white-color: #ffffff;
  --light-gray-color: #dddddd;
  --blue-color: #0f2454;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html {
  font-size: 16px;
}

/* *****************Utality Classes Start***************** */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4rem;
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.heading-normal-txt {
  font-size: 1rem;
  letter-spacing: 6px;
  color: var(--primary-color);
}

.headings {
  font-size: 3rem;
  font-family: "ubuntu";
  padding-bottom: 2rem;
  letter-spacing: 2px;
}

.headings span {
  color: var(--primary-color);
}

.secondary-headings {
  font-size: 2.5rem;
  font-family: "ubuntu";
  padding: 1rem 0;
}

.lead {
  font-size: 1rem;
  line-height: 2;
  text-align: justify;
}

.primary-btn {
  width: 50%;
  outline: none;
  background-color: var(--primary-color);
  border: none;
  padding: 0.7rem;
  font-size: 0.8rem;
  border-radius: 4px;
  color: var(--white-color);
  cursor: pointer;
}
/* *****************Utality Classes Close***************** */

/* *****************Header Start***************** */
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

header.sticky {
  background: var(--primary-color);
  position: fixed;
}

.logo img {
  width: 30%;
  height: 100%;
  object-fit: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin: 0 0.9rem;
  position: relative;
}

nav ul li a {
  color: var(--white-color);
  font-size: 0.8rem;
}

nav ul li::before {
  content: "";
  position: absolute;
  top: 25px;
  left: 1px;
  width: 0;
  height: 2px;
  background: var(--white-color);
  opacity: 0;
  transition: all 0.3s ease-in;
}

nav ul li:hover::before {
  opacity: 1;
  width: 100%;
}

.btn {
  font-size: 1.3rem;
  color: var(--white-color);
  cursor: pointer;
  display: none;
}

/* *****************Header Close***************** */

/* *****************Showcase Start***************** */
main {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.swiper {
  height: 100vh;
}

.slider-container {
  width: 100%;
}

.slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: relative;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.img-overlay {
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  text-align: center;
  width: 100%;
  font-family: "ubuntu";
  transform: translate(-50%, -50%);
}

.img-overlay p {
  font-size: 1rem;
  letter-spacing: 8px;
  color: var(--white-color);
  animation: animate 4s forwards;
}

.img-overlay h2 {
  font-size: 3rem;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 8px;
  animation: animate 4s forwards;
  transition: all 0.5s ease-in-out;
}

@keyframes animate {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(-0%);
  }
}

.img-overlay h2 span {
  color: transparent;
  -webkit-text-stroke: 1px var(--white-color);
}
/* *****************Showcase Close***************** */
/* *****************Search Location Start***************** */
#location-search {
  transform: translateY(-130%);
}

.form-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  width: 100%;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  width: 100%;
}

form input,
select {
  padding: 0.6rem;
  outline: none;
  font-size: 0.8rem;
  color: #000000;
  border: 1px solid var(--light-gray-color);
  margin: 0 0.4rem;
  border-radius: 4px;
}
/* *****************Search Location Close***************** */

/* *****************About Start***************** */
.about-content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
  margin: 0 0 3rem 0;
}

.about-content-wrapper .heading-normal-txt,
.about-content-wrapper .headings {
  text-transform: uppercase;
}

.about-content-wrapper h2 span {
  color: var(--primary-color);
  font-family: "ubuntu";
}

.about-content-wrapper ul {
  list-style-type: none;
}

.about-content-wrapper ul .icons {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.about-content-wrapper ul .icons i {
  background: var(--primary-color);
  color: var(--white-color);
  padding: 0.8rem;
  border-radius: 50%;
}

.about-content-wrapper ul p {
  margin-left: 1rem;
}

.agency-right-side .img {
  position: relative;
}

.agency-right-side .img img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  transition: 0.5s ease-in;
}

.agency-right-side .img::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 30px;
  bottom: 0;
  right: 0;
  background: var(--primary-color);
  width: 80%;
  height: 100%;
  z-index: -2;
}

.agency-right-side .img img:hover {
  transform: scale(0.95);
}
/* *****************About Close***************** */
/* *****************Choose Place Start***************** */
#choose-place {
  padding: 6rem 0;
}

#choose-place .heading-normal-txt,
#choose-place .headings {
  text-transform: uppercase;
}

.choose-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}

.lg-img {
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  width: 100%;
  height: 95%;
}

.lg-img:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.lg-img:hover {
  transform: scale(1.02);
}

.img-content {
  position: absolute;
  bottom: 10px;
}

.img-content h2 {
  padding: 0 2rem;
  color: var(--white-color);
}

.hidden-content {
  padding: 0.5rem 2rem;
  color: var(--white-color);
  transform: translateY(120%);
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.hidden-content i {
  margin-right: 5px;
}

.lg-img:hover .hidden-content {
  transform: translateY(0%);
}

.price-label {
  background: var(--primary-color);
  color: var(--white-color);
  padding: 0.5rem 1rem;
  position: absolute;
  top: 40px;
  right: -10px;
  transform: rotate(-90deg);
}

.row-wise-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
/* *****************Choose Place Close***************** */

/* *****************Counter Numbers Start***************** */
#static-counter {
  padding: 6rem 0;
  background: url("../img/maldives2.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  position: relative;
}

#static-counter::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.static-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  text-align: center;
  align-items: center;
  height: 100%;
  padding: 2rem 0;
}

.content-info {
  cursor: pointer;
  z-index: 10;
  color: var(--white-color);
}

.content-info i {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--white-color);
  padding: 1.2rem;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}

.content-info h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 1rem;
}

.content-info p {
  font-family: "Verdana";
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.content-info i:hover {
  background: var(--primary-color);
  border: none;
  transform: translateY(-20%);
}

/* *****************Counter Numbers Close***************** */
